{% extends "principal/principal.html" %}

{% block estilospagina %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/principal/inicio.css">
{% endblock estilospagina %}

{% block titulo_pagina %}Início - Spotiflask{% endblock titulo_pagina %}
{% block titulo_tela %}Início{% endblock titulo_tela %}

{% block conteudo %}
<section class="inicio-conteudo">
    <h2 class="inicio-saudacao">{{'Olá, '+session['logado_nome']+'!' if session['logado'] else 'Bem-vindo!'}}</h2>
    <h2 class="inicio-topico">Adicionadas recentemente</h2>
    <div class="inicio-playlists">
        <ul class="inicio-playlists-lista">
        {% for p in playlists_recentes %}
            <li class="inicio-playlists-item">
                <a href="/playlist/{{p.id}}" class="card-default">
                    <i class="card-default-icone" onclick="definirCorAleatoria(this)" data-feather="music"></i>
                    <h3>{{p.nome}}</h3>
                    <p>{{p.proprietario.nome}}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
{% block adicionar_musica_modal scoped %}
    {% if adicionar_musica %}
        {% include "principal/componentes/adicionar_musica.html" %}
    {% endif %}
{% endblock adicionar_musica_modal %}

{% endblock conteudo %}

{% block scripts_pagina %}
<script src="/static/js/corAleatoria.js"></script>
{% endblock scripts_pagina %}