{% extends "principal/principal.html" %}

{% block estilospagina %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/principal/playlist.css">
    <link rel="stylesheet" href="/static/css/principal/componentes/editar_playlist.css">
    <link rel="stylesheet" href="/static/css/principal/componentes/excluir_playlist.css">
    <link rel="stylesheet" href="/static/css/principal/componentes/editar_musica.css">
    <link rel="stylesheet" href="/static/css/principal/componentes/excluir_musica.css">
{% endblock estilospagina %}

{% block titulo_pagina %}{{p.nome}} - Spotiflask{% endblock titulo_pagina %}
{% block titulo_tela %}
{% if p.album == 0 %}
Playlist
{% else %}
Álbum
{% endif %}
{% endblock titulo_tela %}

{% block conteudo %}
<section class="playlist-conteudo aplicaCorDinamica">
        <section class="playlist-principal">
            <i class="playlist-icone provedorDeCor" style="background-color: {{p.cor}};" data-feather="music"></i>
            <div class="playlist-infos">
                {% if p.album == 0 %}
                    <p>Playlist</p>
                {% else %}
                    <p>Álbum</p>
                {% endif %}
                {% if p.proprietario_id == session['logado_id'] %}
                    <a class="playlist-acao" href="/playlist/{{p.id}}/editar">
                        <h2 class="playlist-infos-nome">{{p.nome}}</h2>
                    </a>
                {% else %}
                    <h2 class="playlist-infos-nome">{{p.nome}}</h2>
                {% endif %}
                <p><a class="playlist-infos-artista" href="/usuario/{{p.proprietario_id}}"><i data-feather="user"></i> {{p.proprietario.nome}}</a> • {{p.musicas|length}} {{'música' if p.musicas|length == 1 else 'músicas'}}</p>
            </div>
            <div class="playlist-opcoes">
                {% if p.proprietario_id == session['logado_id'] %}
                    <button class="playlist-opcoes-botao" id="playlist-opcoes"><i data-feather="more-vertical"></i></button>
                    <ul class="playlist-opcoes-lista" id="playlist-opcoes-lista">
                        <li><a href="/playlist/{{p.id}}/excluir">Excluir</a></li>
                    </ul>
                {% endif %}
            </div>
        </section>
    <section>
        <table class="playlist-lista">
            <thead class="playlist-lista-header">
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th></th>
                    <th><i data-feather="clock"></i></th>
                </tr>
            </thead>
            <tbody class="playlist-lista-corpo">
            {% for m in p.musicas %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>
                        <a id="playlist-lista-musica-titulo">{{m.nome}}</a>
                        <p>
                            {% for a in m.artistas %}
                                <a href="/usuario/{{a.id}}" class="playlist-lista-musica-artista">{{a.nome}}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </td>
                    <td class="playlist-lista-musica-opcoes">
                        <button id="playlist-lista-musica-opcoes_{{loop.index}}">
                            <i data-feather="more-vertical"></i>
                        </button>
                        <ul class="playlist-lista-musica-opcoes-lista" id="playlist-lista-musica-opcoes-lista_{{loop.index}}">
                            {% if p.proprietario_id == session['logado_id'] %}
                                <li><a href="/playlist/{{p.id}}/musica/{{m.id}}/excluir">{{ 'Excluir' if p.album == 1 else 'Remover' }}</a></li>
                                <li><a href="/playlist/{{p.id}}/musica/{{m.id}}/editar">Editar informações</a></li>
                            {% endif %}
                                <li class="playlist-lista-musica-adicionar-playlist"><p>Adicionar à playlist</p></li>
                                <ul class="playlist-lista-musica-adicionar-playlist-lista">
                                    {% for playlist in lista_playlist %}
                                        {% if playlist.id != p.id %}
                                            <li><a href="/playlist/{{playlist.id}}/musica/{{m.id}}/adicionar">{{playlist.nome}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                        </ul>
                        <script>
                            document.getElementById('playlist-lista-musica-opcoes_{{loop.index}}').addEventListener('click', () => {
                                document.getElementById('playlist-lista-musica-opcoes-lista_{{loop.index}}')?.classList.toggle('show');
                            }, false);
                            window.addEventListener('click', (e) => {
                                if (e.target.id !== 'playlist-lista-musica-opcoes_{{loop.index}}') {
                                    document.getElementById('playlist-lista-musica-opcoes-lista_{{loop.index}}')?.classList.remove('show');
                                }
                            });
                        </script>
                    </td>
                    <td class="playlist-lista-musica-duracao" id="playlist-lista-musica-duracao_{{loop.index}}"></td>
                    <script>
                        document.getElementById('playlist-lista-musica-duracao_{{loop.index}}').innerText = new Date(parseInt("{{m.duracao}}") * 1000).toISOString().substr(11, 8).replace(/^0(?:0:0?)?/, '');
                    </script>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% if editando %}
        {% include "principal/componentes/editar_playlist.html" %}
    {% endif %}
    {% if excluindo %}
        {% include "principal/componentes/excluir_playlist.html" %}
    {% endif %}
    {% if excluindoMusica %}
        {% include "principal/componentes/excluir_musica.html" %}
    {% endif %}
    {% if editandoMusica %}
        {% include "principal/componentes/editar_musica.html" %}
    {% endif %}
</section>
{% endblock conteudo %}

{% block scripts_pagina %}
<script src="/static/js/playlistDropdown.js"></script>
<script async src="/static/js/detectarCor.js"></script>
{% endblock scripts_pagina %}