{% extends "principal/principal.html" %}

{% block estilospagina %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/principal/usuario.css">
{% endblock estilospagina %}

{% block titulo_pagina %}{{u.nome}} - Spotiflask{% endblock titulo_pagina %}

{% block conteudo %}
<section class="usuario-conteudo">
    <section class="usuario-principal">
        <i data-feather="user"></i>
        <div class="usuario-infos">
            {% if u.tipo == 0 %}
                <p>Usuário</p>
            {% else %}
                <p>Artista</p>
            {% endif %}
            <h2 class="usuario-infos-nome">{{u.nome}}</h2>
            <p>{{u.email}}</p>
        </div>
    </section>
    <section>
        <h2>Biblioteca</h2>
        {% if u.tipo == 1 %}
            {% if albuns %}
            <h3>Albuns</h3>
            <ul class="usuario-playlists">
            {% for a in albuns %}
                <li>
                    <a href="/playlist/{{a.id}}">
                        <p>{{a.nome}}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
        {% if playlists != 0 %}
        <h3>Playlists</h3>
        <ul class="usuario-playlists">
        {% for p in playlists %}
            <li>
                <a href="/playlist/{{p.id}}">
                    <p>{{p.nome}}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </section>
</section>
{% endblock conteudo %}

{% block scripts_pagina %}
{% endblock scripts_pagina %}