@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Barlow', sans-serif;
}

html {
    --cor-primaria: #00ff73;
    --fundo-primario: #000000;
    --fundo-secundario: #0f0f0f;
    --fundo-terciario: #151515;
    --fundo-input: #333333;
    --texto-primario: #ffffff;
    --texto-secundario: #aaaaaa;
    --tamanho-titulo: 30px;
    --tamanho-subtitulo: 20px;
    --tamanho-texto: 16px;
    --tamanho-observacao: 12px;
    --raio-borda: 6px;
}

h1 {
    font-size: var(--tamanho-titulo);
    color: var(--texto-primario);
}

h2 {
    font-size: var(--tamanho-subtitulo);
    color: var(--texto-primario);
}

body {
    background-color: var(--fundo-primario);
    font-size: var(--tamanho-texto);
    color: var(--texto-primario);
    user-select: var(--cor-primaria);
}

.feather {
    width: var(--tamanho-texto);
    height: var(--tamanho-texto);
    stroke-width: 3px;
}

.input-default {
    max-width: 100%;
    border-radius: var(--raio-borda);
    background-color: var(--fundo-input);
    color: var(--texto-primario);
    padding: 10px 15px;
}

.botao-default {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border-radius: var(--raio-borda);
    background-color: var(--cor-primaria);
    color: var(--fundo-primario);
    font-weight: 700;
    font-size: var(--tamanho-texto);
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.botao-secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid var(--texto-primario);
    border-radius: var(--raio-borda);
    background-color: transparent;
    color: var(--texto-primario);
    font-weight: 700;
    font-size: var(--tamanho-texto);
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.card-default {
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--raio-borda);
    background-color: var(--fundo-terciario);
    color: var(--texto-primario);
    padding: 20px;
    text-decoration: none;
}

.card-default-icone {
    width: 100%;
    height: auto;
    color: var(--texto-primario);
    border-radius: var(--raio-borda);
    padding: 40px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--fundo-secundario);
    margin-left: -10px;
}

::-webkit-scrollbar-thumb {
    background: #555555;
}