.inicio-conteudo {
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background-color: #000000;
    background-image: linear-gradient(0deg, var(--fundo-secundario) 50%, #00000000 150%);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 100px 40px 40px 40px;
    transition: background-color 1s;
}

.inicio-saudacao {
    font-size: 50px;
    margin-bottom: 40px;
}

.inicio-playlists {
    overflow-x: auto;
    width: 100%;
    padding: 20px 0;
}

.inicio-playlists-lista {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inicio-playlists-item {
    list-style: none;
}