main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-card {
    background-color: var(--fundo-secundario);
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: var(--raio-borda);
}

.login-titulo {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}