<div class="adicionar-backdrop">
    <aside class="adicionar-card">
        <div class="adicionar-head">
            <h3 class="adicionar-titulo">Adicionar música</h3>
            <i data-feather="x" class="adicionar-fechar"></i>
        </div>
        <p class="adicionar-observacao">Escolha as informações de música disponíveis e caso não existam, indique nos campos para cadastrar novas informações.</p>
        <form action="/musica" method="post" class="adicionar-form">
            <div class="adicionar-campo">
                <label for="nome">Nome da música</label>
                <input class="input-default" type="text" name="nome" placeholder="Insira o nome da música" id="nome" />
            </div>
            <div class="adicionar-campo">
                <label for="artista">Artista</label>
                <select class="input-default" onchange="() => {window.location = '/adicionar_musica/1'; return null}" name="artista" id="artista">
                    {% for artista in lista_artistas %}
                        <option value="{{ artista.id }}">{{ artista.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="adicionar-campo">
                <label for="album">Álbum</label>
                <input class="input-default" list="albums" name="album" placeholder="Selecione um álbum" id="album">
                <datalist id="albums">
                    {% for album in lista_albuns %}
                        <option value="{{ album.id }}">{{ album.nome }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="adicionar-campo">
                <label for="genero">Gênero</label>
                <input class="input-default" list="generos" name="genero" placeholder="Selecione um álbum" id="genero">
                <datalist id="generos">
                    {% for genero in lista_generos %}
                        <option value="{{ genero.id }}">{{ genero.nome }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="adicionar-campo">
                <label for="duracao">Duração</label>
                <input class="input-escondido" type="hidden" min="0" max="359999" name="duracao" id="duracaoEmSegundos" />
                <input class="html-duration-picker input-default" type="text" minlength="8" maxlength="8" placeholder="00:00:00" id="duracao" />
            </div>
            <button class="botao-default" type="submit">Adicionar</button>
        </form>
    </aside>
    <script src="/static/js/converterDuracao.js"></script>
    <script src="/static/js/html-duration-input.min.js"></script>
</div>