<div id="adicionar-musica-modal" class="adicionar-backdrop">
    <aside class="adicionar-card">
        <div class="adicionar-head">
            <h3 class="adicionar-titulo">Adicionar música</h3>
            <a href="/" class="adicionar-fechar"><i data-feather="x"></i></a>
        </div>
        <p class="adicionar-observacao">Escolha as informações de música disponíveis e caso não existam, indique nos campos para cadastrar novas informações.</p>
        <form action="/musica" autocomplete="off" method="post" class="adicionar-form">
            <div class="adicionar-campo">
                <label for="nome">Nome da música</label>
                <input class="input-default" type="text" name="nome" autofocus required placeholder="Insira o nome da música" id="nome" />
            </div>
            <div class="adicionar-campo">
                <label for="artista">Artista</label>
                <select class="input-default" required name="artista" id="artista">
                    <option value="">Selecione um artista</option>
                    {% for artista in lista_artistas %}
                        <option value="{{ artista.id }}">{{ artista.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="adicionar-campo">
                <label for="album">Álbum</label>
                <input class="input-default" list="albuns" required name="album" placeholder="Selecione um álbum" id="album">
                <datalist id="albuns">
                    {% for album in lista_albuns %}
                        <option value="{{ album.id }}">{{ album.nome }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="adicionar-campo">
                <label for="genero">Gênero</label>
                <input class="input-default" list="generos" required name="genero" placeholder="Indique o gênero" id="genero">
                <datalist id="generos">
                    {% for genero in lista_generos %}
                        <option value="{{ genero.id }}">{{ genero.nome }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="adicionar-campo">
                <label for="duracao">Duração</label>
                <input class="input-escondido" type="hidden" name="duracao" id="duracaoEmSegundos" />
                <input class="html-duration-picker input-default" required type="text" id="duracao" />
            </div>
            <button class="botao-default" type="submit">Adicionar</button>
        </form>
    </aside>
    <script src="/static/js/converterDuracao.js"></script>
    <script src="/static/js/html-duration-input.min.js"></script>
    <script src="/static/js/adicionar_musica_modal.js"></script>
</div>