<div class="adicionar-backdrop">
    <aside class="adicionar-card">
        <div class="adicionar-head">
            <h3 class="adicionar-titulo">Adicionar música</h3>
            <i data-feather="x" class="adicionar-fechar"></i>
        </div>
        <form class="adicionar-form">
            <div class="adicionar-campo">
                <label for="nome">Nome da música</label>
                <input class="input-default" type="text" name="nome" placeholder="Insira o nome da música" id="nome" />
            </div>
            <div class="adicionar-campo">
                <label for="artista">Artista</label>
                <input class="input-default" list="artistas" name="artista" placeholder="Escolha o artista" id="artista">
                <datalist id="artistas">
                    <option value="Arctic Monkeys">
                    <option value="Depeche Mode">
                    <option value="Muse">
                    <option value="Kings of Leon">
                    <option value="Queen">
                    <option value="The Killers">
                    <option value="Panic At The Disco">
                    <option value="Talk Talk">
                    <option value="Duran Duran">
                    <option value="Oingo Boingo">
                    <option value="The Police">
                    <option value="Roxxete">
                    <option value="The Cranberries">
                    <option value="Royal Blood">
                    <option value="Zapp">
                    <option value="Milli Vanilli">
                    <option value="Queens Of The Stone Age">
                </datalist>
            </div>
            <div class="adicionar-campo">
                <label for="album">Álbum</label>
                <input class="input-default" list="albums" name="album" placeholder="Selecione um álbum" id="album">
                <datalist id="albums">
                    <option value="Whatever People Say That I Am That's What I Am Not">
                    <option value="Will Of The People">
                    <option value="WALLS">
                    <option value="Tranquility Base Hotel & Casino">
                    <option value="AM">
                    <option value="Hot Fuss">
                    <option value="...Like Clockwork">
                    <option value="Use Your Illusion I">
                    <option value="Use Your Illusion II">
                    <option value="Chinese Democracy">
                    <option value="Lullaby">
                    <option value="The 2nd Law">
                    <option value="Spaghetti Incident">
                    <option value="Days Of Thunder">
                    <option value="Forevermore">
                    <option value="Drones">
                </datalist>
            </div>
            <div class="adicionar-campo">
                <label for="duracao">Duração</label>
                <input class="input-default" type="text" maxlength="8" minlength="8" placeholder="00:00:00" name="duracao" id="duracao" />
            </div>
            <button class="botao-default" type="submit">Adicionar</button>
        </form>
    </aside>
</div>