<div id="editar-playlist-modal" class="editar-playlist-backdrop">
    <aside class="editar-playlist-card">
        <div class="editar-playlist-head">
            <h3 class="editar-playlist-titulo">Editar {{ 'álbum' if p.album == 1 else 'playlist' }}</h3>
            <a href="/playlist/{{p.id}}" class="editar-playlist-fechar"><i data-feather="x"></i></a>
        </div>
        <p class="editar-playlist-observacao">Insira as novas informações {{ 'do álbum' if p.album == 1 else 'da playlist' }} e clique em salvar para aplicar as mudanças. Os campos não podem ser omitidos.</p>
        <form action="/playlist/{{p.id}}/editar" autocomplete="off" method="post" class="editar-playlist-form">
            <div class="editar-playlist-campo">
                <label for="cor">Cor {{ 'do álbum' if p.album == 1 else 'da playlist' }}</label>
                <input class="editar-playlist-cor-input" type="color" name="cor" value="{{p.cor}}" required id="cor" />
            </div>
            <div class="editar-playlist-campo">
                <label for="nome">Nome {{ 'do álbum' if p.album == 1 else 'da playlist' }}</label>
                <input class="input-default" type="text" name="nome" autofocus required value="{{p.nome}}" onfocus="this.select()" placeholder="Insira um novo nome para {{ 'o álbum' if p.album == 1 else 'a playlist' }}" id="nome" />
            </div>
            <button class="botao-default" type="submit">Salvar</button>
        </form>
    </aside>
    <script src="/static/js/editarPlaylistModal.js"></script>
</div>