{% extends "base.html" %}
{% block head %}
    <title>Cadastre-se no Spotiflask</title>
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock head %}
{% block body %}
<header>
    <h1>Spotiflask</h1>
</header>
<main>
    <div class="login-card">
        <h2 class="login-titulo">Cadastre-se grátis e comece a curtir!</h2>
        <form class="login-form" action="/realizar-cadastro" method="POST">
            <label for="nome">Como devemos chamar você?</label>
            <input class="input-default" type="text" name="nome" placeholder="Nos diga seu nome" id="nome" />

            <label for="email">Endereço de e-maiaiousdhaiuosdhaiuçshbdoiupçl</label>
            <input class="input-default" type="email" name="email" placeholder="Insira seu e-mail" id="email" />

            <label for="senha">Crie uma senha</label>
            <input class="input-default" type="password" name="senha" placeholder="Digite sua senha" id="senha" />

            <label for="confirma_senha">Confirme sua senha</label>
            <input class="input-default" type="password" name="confirma_senha" placeholder="Digite novamente sua senha" id="confirma_senha" />
            
            <button class="botao-default" type="submit">Entrar</button>
        </form>
        <h3>Já tem uma conta?</h3>
        <a href="/login" class="botao-secundario">Faça login</a>
    </div>
</main>
{% endblock body %}