{% extends "base.html" %}
{% block head %}
    <title>Fazer login no Spotiflask</title>
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock head %}
{% block body %}
<header>
    <h1>Spotiflask</h1>
</header>
<main>
    <div class="login-card">
        <h2 class="login-titulo">Para continuar, faça login</h2>
        <form action="/auth/login" action="post" class="login-form">
            <label for="email">Endereço de e-mail</label>
            <input class="input-default" type="email" name="email" placeholder="Insira seu e-mail" id="email">
            <label for="senha">Senha</label>
            <input class="input-default" type="password" name="senha" placeholder="Digite sua senha" id="senha">
            <button class="botao-default" type="submit">Entrar</button>
        </form>
        <h3>Não tem uma conta?</h3>
        <a href="/auth/cadastro" class="botao-secundario">Cadastre-se agora!</a>
    </div>
</main>
{% endblock body %}