{% block head %}
    <link rel="stylesheet" href="/static/css/navbar.css">
{% endblock head %}
<nav class="navbar-container">
    <h1 class="navbar-titulo">Spotiflask</h1>
    <ul class="navbar-lista">
        <li><i data-feather="home"></i><a href="/">Início</a></li>
        <li><i data-feather="search"></i><a href="/">Buscar</a></li>
        <li><i data-feather="layers"></i><a href="/">Biblioteca</a></li>
    </ul>
    <a class="botao-default">
        Adicionar música
        <i data-feather="plus"></i>
    </a>
</nav>