{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/inicio.css">
{% endblock head %}
{% block body %}
<main>
    {% include "navbar.html" %}
    <section class="inicio-container">
        {% include "header.html" %}
        <section class="inicio-conteudo">
            <i data-feather="user"></i>
            {% if u.tipo == 0 %}
                <p>Usuário</p>
            {% else %}
                <p>Artista</p>
            {% endif %}
            <p>{{u.nome}}</p>
            <p>{{u.email}}</p>
        </section>
    </section>
</main>
{% endblock body %}