{% extends "auth/auth.html" %}

{% block estilospagina %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/auth/login.css">
{% endblock estilospagina %}

{% block titulo_pagina %}Cadastre-se no Spotiflask{% endblock titulo_pagina %}

{% block conteudo %}
<main>
    <div class="login-card">
        <h2 class="login-titulo">Cadastre-se grátis e comece a curtir!</h2>
        <form class="login-form" action="/auth/cadastro" method="POST">
            <label for="nome">Como devemos chamar você?</label>
            <input class="input-default" type="text" name="nome" placeholder="Nos diga seu nome" id="nome" />

            <label for="email">Endereço de e-mail</label>
            <input class="input-default" type="email" name="email" placeholder="Insira seu e-mail" id="email" />

            <label for="senha">Crie uma senha</label>
            <input class="input-default" type="password" name="senha" placeholder="Digite sua senha" id="senha" />

            <label for="confirma_senha">Confirme sua senha</label>
            <input class="input-default" type="password" name="confirma_senha" placeholder="Digite novamente sua senha" id="confirma_senha" />
            
            <label for="tipo">Você é um artista?</label>
            <input type="checkbox" name="tipo" id="tipo" />

            <button class="botao-default" type="submit">Cadastrar</button>
        </form>
        <h3>Já tem uma conta?</h3>
        <a href="/auth/login" class="botao-secundario">Faça login</a>
    </div>
</main>
{% endblock conteudo %}

{% block scripts_pagina %}
{% endblock scripts_pagina %}